<!DOCTYPE html>
<html>
	<% include ./head.ejs %>
    
	<body>
        
      <div class="container">
        <div class="form-group">
          <label><%=contents %></label>  
          <br>
          <input type="button" value="<%=button_value %>" onclick="<%=button_action %>" class="btn btn-primary">
        </div>
      </div>
        
	</body>
    
</html>

